# Token que te dio @BotFather en Telegram
TELEGRAM_BOT_TOKEN=

# Motor de base de datos: sqlite | postgres | mysql
NEXUSDB_MOTOR=sqlite

# --- Para sqlite ---
NEXUSDB_DB_PATH=

# --- Para postgres / mysql ---
NEXUSDB_HOST=
NEXUSDB_PORT=
NEXUSDB_USER=
NEXUSDB_PASSWORD=
# Postgres usa NEXUSDB_DBNAME, MySQL usa NEXUSDB_DATABASE
NEXUSDB_DBNAME=
NEXUSDB_DATABASE=
